<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       autoReload="true"
      throwExceptions="true"
      internalLogLevel="warn"
      internalLogFile="logfiles/internal-nlog.txt">
  <targets>
    <target xsi:type="Null" name="blackhole" />
    <target name="database" xsi:type="Database"
              dbProvider="System.Data.SqlClient"
              connectionString="Data Source=.;Initial Catalog=CzarCms;User ID=sa;Password=1;Persist Security Info=True;Max Pool Size=50;Min Pool Size=0;Connection Lifetime=300;"
             >
      <!--
create table NLog (
   Id                   int                  identity,
   Application          nvarchar(50)         null,
   Logged               datetime             null,
   Level                nvarchar(50)         null,
   Message              nvarchar(512)        null,
   Logger               nvarchar(250)        null,
   Callsite             nvarchar(512)        null,
   Exception            nvarchar(512)        null,
   constraint PK_NLOG primary key (Id)
)

-->
      <commandText>
        insert into nlog (
        Application, Logged, Level, Message,
        Logger, CallSite, Exception
        ) values (
        @Application, @Logged, @Level, @Message,
        @Logger, @Callsite, @Exception
        );
      </commandText>
      <parameter name="@application" layout="Czar.Cms.Admin" />
      <parameter name="@logged" layout="${date}" />
      <parameter name="@level" layout="${level}" />
      <parameter name="@message" layout="${message}" />
      <parameter name="@logger" layout="${logger}" />
      <parameter name="@callSite" layout="${callsite:filename=true}" />
      <parameter name="@exception" layout="${exception:tostring}" />
    </target>

  </targets>

  <rules>
    <!--Skip Microsoft logs and so log only own logs-->
    <logger name="Microsoft.*" minlevel="Trace" writeTo="blackhole" final="true" />
    <logger name="Czar.Cms.*" minlevel="Info" writeTo="database" />
  </rules>
</nlog>